.form {
    background-color: white;
    padding: 20px;
    margin: 1px 20px 1px 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 8px;
    border: 2px solid #eee;
}

.form__input:hover {
    background-color: rgb(244, 243, 243);
    cursor: text;
}

.form__input:active {
    border-color: black;
}

.form__button {
    background-color: teal;
    color: white;
    padding: 8px;
    margin-left: 15px;
    border-style: none;

}

@media (max-width: 767px) {
    .form__button {
        margin: 0;
        margin-top: 10px;
    }
}

.form__button:hover {
    background-color: rgb(1, 141, 141);
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
}

.form__button:active {
    border: 2px solid black;
}